<section class="homepage-section3">
  <div class="container-section3">
    <div class="section3-top-wrap">
      <h2 class="section3-pre-title">Amet minim mollit non</h2>
      <h2 class="section3-logo">MIMIHO</h2>
      <p class="section3-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img srcset="./img/section3-img/section3-foto1@2x.jpg 2x" src="./img/section3-img/section3-foto1.jpg" alt="room"
        class="section3-foto1" width="244" height="322" />
    </div>
    <div class="section3-bottom-wrap">
      <div class="wrap-group1">
        <p class="section3-description2">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do
          amet sint. Velit officia consequat duis enim velit mollit.
          Exercitation veniam consequat sunt nostrud amet.
        </p>
        <img srcset="./img/section3-img/section3-foto2@2x.jpg 2x" src="./img/section3-img/section3-foto2.jpg"
          alt="restaurant" class="section3-foto2" width="200" height="278" />
      </div>

      <div class="wrap-group2">
        <ul class="section3-image-list">
          <li class="section3-image-item">
            <img srcset="./img/section3-img/section3-foto3@2x.jpg 2x" src="./img/section3-img/section3-foto3.jpg"
              alt="photo" class="section3-foto3" width="245" height="245" />
          </li>
          <li class="section3-image-item">
            <img srcset="./img/section3-img/section4-foto4@2x.jpg 2x" src="./img/section3-img/section4-foto4.jpg"
              alt="photo" class="section3-foto4" width="245" height="245" />
          </li>
        </ul>

        <div class="section3-arrows">
          <button type="button" class="section3-button left">
            <svg class="section3-arrow icon" width="32" height="32">
              <use href="./img/icons-sprite.svg#icon-left-arrow-slider"></use>
            </svg>
          </button>
          <button type="button" class="section3-button right">
            <svg class="section3-arrow icon" width="32" height="32">
              <use href="./img/icons-sprite.svg#icon-rigth-arrow-slider"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>