<section class="location">
  <div class="location-container">
    <div class="location-tablet-wrapper">
      <div class="tablet-contacts-wrapper">
        <h2 class="location-visually-hidden">
          Інформація про розміщення комплексу та номера телефонів
        </h2>
        <p class="location-mimino">MIMIHO</p>

        <!------------------ RESTAURANT--------------------- -->
        <p class="location-sentense">Ресторанно-готельний комплекс</p>
        <div class="location-restaurant-wrapper">
          <p class="location-restaurant">Ресторан</p>
          <div class="location-restaurant-div">
            <svg class="location-restaurant-icon" width="12" height="20">
              <use href="./img/icons-sprite.svg#icon-phone-icon"></use>
            </svg>
            <a class="location-restaurant-number" href="tel:0955559533">095 555 95 33</a>
          </div>
        </div>

        <!-----------------  HOTEL----------------------- -->
        <div class="location-hotel-wrapper">
          <p class="location-hotel">Готель</p>
          <div class="location-hotel-div">
            <svg class="location-hotel-icon" width="12" height="20">
              <use href="./img/icons-sprite.svg#icon-phone-icon"></use>
            </svg>
            <a class="location-hotel-number-one" href="tel:0668491089">066 849 10 89</a>
            <a class="location-hotel-number-two" href="tel:0672758540">067 275 85 40</a>
          </div>
        </div>

        <!------------------------- MAP---------------- -->
        <div class="location-map-div">
          <a href="https://goo.gl/maps/1Gj1eipYqzHHkmQC6" target="_blank" class="section-map-link">
            <svg class="location-map-icon" width="20" height="20">
              <use href="./img/icons-sprite.svg#icon-map-icon"></use>
            </svg>
            <p class="location-address">
              Україна, м. Полтава, <br> вул. Маршала Бірюзова, 15
            </p>
          </a>
        </div>
      </div>
      <div class="map">
        <iframe class="iframe"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90607.51430824776!2d34.507602306789394!3d49.557361849463916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e1!3m2!1sru!2sua!4v1676567345783!5m2!1sru!2sua"
          loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>