      <section class="homepage-hero-section">
        <div class="home-page-container">
          <h1 class="hero-title">MIMIHO</h1>
          <p class="hero-post-title">Ресторанно-готельний комплекс</p>
          <h2 class="hero-subtitle">СМАК ЖИТТЯ 24/7</h2>

          <div class="hero-group">
            <a href="https://goo.gl/maps/1Gj1eipYqzHHkmQC6" target="_blank" class="hero-location-link"
              ><svg class="hero-location-icon" width="20" height="20">
                <use href="./img/icons-sprite.svg#icon-map-icon"></use>
              </svg>
              Україна, м. Полтава, <br />
              вул. Маршала Бірюзова, 15
            </a>

            <div class="hero-button-group">
              <button type="button" class="hero-button" data-modal-open>
                Забронювати столик
              </button>
              <button type="button" class="hero-button" data-room-open>
                Забронювати номер
              </button>
            </div>
          </div>
        </div>
      </section>

      

      