<header class="site-header">
    <div class="site-header-container">
      <a href="./index.html" class="header-logo">MIMIHO</a>

      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="./restaurant.html" class="header-nav-link">Ресторан</a
          ><a href="tel:0955559533" class="header-nav-contacts"
            ><svg class="header-nav-icon" width="24" height="24">
              <use href="./img/icons-sprite.svg#icon-phone-icon"></use>
            </svg>
            <span class="header-nav-tel">095 555 95 33</span></a
          >
        </li>
        <li class="header-nav-item">
          <a href="./hotel.html" class="header-nav-link">Готель</a
          ><a href="tel:0668491089" class="header-nav-contacts"
            ><svg class="header-nav-icon" width="24" height="24">
              <use href="./img/icons-sprite.svg#icon-phone-icon"></use>
            </svg>
            <span class="header-nav-tel">066 849 10 89</span></a
          >
        </li>
      </ul>

      <ul class="header-social-list">
        <li class="header-social-item">
          <a href="https://www.instagram.com/" target="_blank" class="header-social-link">
            <svg class="header-social-icon" width="24" height="24">
              <use href="./img/icons-sprite.svg#icon-instagram-icon"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="https://uk-ua.facebook.com/" target="_blank" class="header-social-link">
            <svg class="header-social-icon" width="24" height="24">
              <use href="./img/icons-sprite.svg#icon-facebook-icon"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="https://web.telegram.org/z/" target="_blank" class="header-social-link">
            <svg class="header-social-icon" width="24" height="24">
              <use href="./img/icons-sprite.svg#icon-telegram-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </header>