
<section class="homepage-section2">
  <div class="container-section2">
    <h1 class="section2-logo">MIMIHO</h1>
    <h2 class="section2-post-title">Ресторан</h2>
    <p class="section2-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>

    <div class="section2-wrap">
      <div class="section2-btn-group">
        <button type="button" class="homepage-section2-btn" data-modal-open-two>Забронювати столик</button>
        <form action="https://vitalik1788.github.io/teamProject-group14/restaurant.html">
        <button class="homepage-section2-btn">Переглянути меню</button>
        </form>
      </div>

      <ul class="section2-img-list">
        <li class="section2-img-item left">
          <img
            srcset="./img/section2-img/section2-foto1@2x.jpg 2x"
            src="./img/section2-img/section2-foto1.jpg"
            alt="food"
            class="section2-foto1"
            width="270"
            height="270"
          />
        </li>
        <li class="section2-img-item center">
          <img
            srcset="./img/section2-img/section2-foto2@2x.jpg 2x"
            src="./img/section2-img/section2-foto2.jpg"
            alt="food"
            class="section2-foto2"
            width="162"
            height="270"
          />
        </li>
        <li class="section2-img-item right">
          <img
            src="./img/section2-img/section2-foto3.jpg"
            alt="food"
            class="section2-foto3"
            width="162"
            height="270"
          />
        </li>
      </ul>
    </div>
    <div class="section2-arrows-group">
      <button type="button" class="slider-section2-btn">
        <svg class="section2-arrow-icon" width="32" height="32">
          <use href="./img/icons-sprite.svg#icon-left-arrow-slider"></use>
        </svg>
      </button>
      <button type="button" class="slider-section2-btn">
        <svg class="section2-arrow-icon" width="32" height="32">
          <use href="./img/icons-sprite.svg#icon-rigth-arrow-slider"></use>

        </svg>
      </button>
    </div>
  </div>
</section>
                                             <!-- MODAL WINDOW -->

<div class="backdrop is-hidden" data-modal-two>
  <div class="tt-modal">

    <button type="button" class="modal-close" data-modal-close-two>
      <svg class="close-modal-icon" width="24" height="24">
        <use href="./img/icons-sprite.svg#icon-cross-close-modal"></use>
      </svg>
    </button>

    <div class="tt-modal-title-wrap">
      <h1 class="tt-modal-title">
        ЗАБРОНЮВАТИ СТОЛИК
      </h1>
    </div>

    <form class="tt-modal-form">

      <div class="tt-input-wrap">
        <div class="tt-input-wrap-part">
          <div class="tt-modal-input-field">
            <input type="text" class="tt-modal-input" name="name" id="name" required placeholder="Ваше ім’я"
              pattern="^[a-zA-Z]+\s[a-zA-Z]+$" title="Username must be two words separated by space.">
            <label for="name" class="tt-input-label-title">
              На кого забронювати столик?
            </label>
          </div>
          <div class="tt-modal-input-field">
            <input type="tel" class="tt-modal-input" name="tel" id="tel" required placeholder="+38 (___) ___-__-__"
              pattern="[0-9]+" title="please enter number only">
            <label for="tel" class="tt-input-label-title">
              Номер телефону
            </label>
          </div>
        </div>

        <div class="tt-input-wrap-part">
          <div class="tt-modal-input-field">
            <select id="person" name="person" class="tt-modal-input">
              <option value="2" class="value" selected>2</option>
              <option value="3" class="value">3</option>
              <option value="4" class="value">4</option>
              <option value="5" class="value">5</option>
            </select>
            <label for="person" class="tt-input-label-title">
              Столик на яку кількість осіб?
            </label>
          </div>
          <div class="tt-modal-input-field">
            <select id="tt-date" name="tt-date" class="tt-modal-input">
              <option value="today" class="value" selected>
                Сьогодні
              </option>
            </select>
            <label for="tt-date" class="tt-input-label-title">
              На яку дату бронювати?
            </label>
          </div>
        </div>
      </div>
      <button type="submit" class="tt-modal-button">
        ОФОРМИТИ БРОНЮВАННЯ
      </button>

    </form>
  </div>
</div>
