<section class="hotelpage-hero-section">
  <div class="hotelpage-container">
    <h1 class="hotelpage-hero-title">MIMIHO</h1>
    <p class="hotelpage-post-title">Готель</p>
    <div class="hotelpage-hero-group">
      <a
        href="https://goo.gl/maps/1Gj1eipYqzHHkmQC6"
        target="_blank"
        class="hotelpage-location-link"
        ><svg class="hotelpage-location-icon" width="20" height="20">
          <use href="./img/icons-sprite.svg#icon-map-icon"></use>
        </svg>
        Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15
      </a>

      <div class="hotelpage-button-group">
        <button type="button" class="hotelpage-hero-button" data-room-open>
          Забронювати номер
        </button>
        <button type="button" class="hotelpage-hero-button" data-price-open>
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
