<section class="restpage-hero-section">
  <div class="restpage-container">
    <h1 class="restpage-hero-title">MIMIHO</h1>
    <p class="restpage-post-title">Ресторан</p>
    <h2 class="restpage-hero-subtitle">СМАК ЖИТТЯ 24/7</h2>

    <div class="restpage-hero-group">
      <a
        href="https://goo.gl/maps/1Gj1eipYqzHHkmQC6"
        target="_blank"
        class="restpage-location-link"
        ><svg class="restpage-location-icon" width="20" height="20">
          <use href="./img/icons-sprite.svg#icon-map-icon"></use>
        </svg>
        Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15
      </a>

      <div class="restpage-button-group">
        <button type="button" class="restpage-hero-button" data-modal-open>Забронювати столик</button>
        <button onclick="location.href='#menu-anhor'" class="restpage-hero-button">Переглянути меню</button>        
      </div>
    </div>
  </div>
</section>
