<section class="rest-page-section1">
  <div class="rest-page-container">
    <!--  --Group-1-- -->
    <div class="rest-page-group1">
      <h2 class="rest-page-title">Amet minim mollit non</h2>
      <h3 class="rest-page-logo">mimiho</h3>
      <p class="rest-page-text1">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        srcset="./img/section1-img/rest-foto1@2x.jpg 2x"
        src="./img/section1-img/rest-foto1.jpg" alt="shef" class="rest-page-img2" width="280">
    </div>
    <!-- --Group-2-- -->
    <div class="rest-page-group2">
      <div class="rest-page-wrap">
        <img
          srcset="./img/section1-img/rest-foto2@2x.jpg 2x" 
          src="./img/section1-img/rest-foto2.jpg" alt="meat" class="rest-page-img1" width="200" />
        <p class="rest-page-text2">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do
          amet sint. Velit officia consequat duis enim velit mollit.
          Exercitation veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <!-- --Group-3-- -->
    <div class="rest-page-group3">
      <div class="rest-page-img-wrap">
        <img
          srcset="./img/section1-img/rest-foto3@2x.jpg 2x" 
          src="./img/section1-img/rest-foto3.jpg" alt="believe" class="rest-page-img3" width="245" />
        <img
          srcset="./img/section1-img/rest-foto4@2x.jpg 2x" 
          src="./img/section1-img/rest-foto4.jpg" alt="food" class="rest-page-img4" width="245" />
      </div>
      <div class="rest-page-icon-wrap">
        <svg class="rest-page-icon1" width="32" height="32">
          <use href="./img/icons-sprite.svg#icon-left-arrow-slider"></use>
        </svg>
        <svg class="rest-page-icon2" width="32" height="32">
          <use href="./img/icons-sprite.svg#icon-rigth-arrow-slider"></use>
        </svg>
      </div>
    </div>

  </div>
</section>