<section class="section-menu">
    <div class="container">
        <h2 id="menu-anhor" class="menu-title">МЕНЮ РЕСТОРАНУ </h2>
        <div class="tablet-position">
            <div class="tablet-left">
                <table class="menu-table">
                    <caption class="menu-caption">Гарячі страви</caption>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Борщ з телятини з квасолею </p>
                            <p class="menu-after-title">Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                                помідори, зелень, сметана</p>
                        </td>
                        <td class="menu-td">400 г</td>
                        <td class="menu-td">240 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Суп сирний з куркою</p>
                            <p class="menu-after-title">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
                            </p>
                        </td>
                        <td class="menu-td">400 г</td>
                        <td class="menu-td">200 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Паста карбонара</p>
                            <p class="menu-after-title">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</p>
                        </td>
                        <td class="menu-td">350 г</td>
                        <td class="menu-td">430 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Стейк зі свинини</p>
                            <p class="menu-after-title">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                                овочами</p>
                        </td>
                        <td class="menu-td">400 г</td>
                        <td class="menu-td">500 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Горбуша в соусі з білого вина</p>
                            <p class="menu-after-title">Ніжна горбуша, вершковий соус на основі білого вина</p>
                        </td>
                        <td class="menu-td">400 г</td>
                        <td class="menu-td">400 грн</td>
                    </tr>
                </table>
                <table class="menu-table">
                    <caption class="menu-caption">Гарніри та закуски</caption>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Запечені овочі</p>
                            <p class="menu-after-title">Кабачок, перець, помідор, баклажан</p>
                        </td>
                        <td class="menu-td">200 г</td>
                        <td class="menu-td">230 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Картопля фрі</p>
                            <p class="menu-after-title">Картопля, соус томатний</p>
                        </td>
                        <td class="menu-td">150 г</td>
                        <td class="menu-td">160 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Картопля по-селянськи</p>
                            <p class="menu-after-title">Картопля, спеції, соус пікантний</p>
                        </td>
                        <td class="menu-td">150 г</td>
                        <td class="menu-td">160 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Хрумкі соління з бочки</p>
                            <p class="menu-after-title">Огірок солений, помідор квашений, квашена капуста, морква
                                по-корейські</p>
                        </td>
                        <td class="menu-td">250 г</td>
                        <td class="menu-td">350 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Крильця курячі в медовому соусі</p>
                            <p class="menu-after-title">Крильця курячі, гірчично-медовий соус, подається з морквою,
                                селерою і соусом блючиз</p>
                        </td>
                        <td class="menu-td">400 г</td>
                        <td class="menu-td">420 грн</td>
                    </tr>
                </table>
            </div>
            <div class="tablet-right">
                <table class="menu-table">
                    <caption class="menu-caption">Салати</caption>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Цезар з куркою</p>
                            <p class="menu-after-title">Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                                соус цезар</p>
                        </td>
                        <td class="menu-td">230 г</td>
                        <td class="menu-td">450 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Цезар з креветками</p>
                            <p class="menu-after-title">Тигрові креветки, листя салату, помідори чері, сир пармезан,
                                грінки, соус цезар</p>
                        </td>
                        <td class="menu-td">230 г</td>
                        <td class="menu-td">300 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Грецький салат</p>
                            <p class="menu-after-title">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                                листя салату, соус</p>
                        </td>
                        <td class="menu-td">230 г</td>
                        <td class="menu-td">280 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">М’ясний салат</p>
                            <p class="menu-after-title">Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                                болгарський перець, соус ранч</p>
                        </td>
                        <td class="menu-td">230 г</td>
                        <td class="menu-td">300 грн</td>
                    </tr>
                </table>
                <table class="menu-table">
                    <caption class="menu-caption">Десерти </caption>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Торт наполеон</p>
                        </td>
                        <td class="menu-td">230 г</td>
                        <td class="menu-td">300 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Торт маковий</p>
                        </td>
                        <td class="menu-td">230 г</td>
                        <td class="menu-td">300 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Тірамісу</p>
                        </td>
                        <td class="menu-td">120 г</td>
                        <td class="menu-td">260 грн</td>
                    </tr>
                </table>
                <table class="menu-table">
                    <caption class="menu-caption">Напої</caption>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Чай чорний/зелений</p>
                        </td>
                        <td class="menu-td">500 мл</td>
                        <td class="menu-td">100 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Еспресо</p>
                        </td>
                        <td class="menu-td">30 мл</td>
                        <td class="menu-td">100 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Американо</p>
                        </td>
                        <td class="menu-td">150 мл</td>
                        <td class="menu-td">100 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Капучино</p>
                        </td>
                        <td class="menu-td">200 мл</td>
                        <td class="menu-td">160 грн</td>
                    </tr>
                    <tr class="menu-tr">
                        <td class="menu-td">
                            <p class="menu-pre-title">Лате</p>
                        </td>
                        <td class="menu-td">200 мл</td>
                        <td class="menu-td">160 грн</td>
                    </tr>
                </table>
                <button type="button" class="menu-btn" data-modal-open-two>Забронювати столик</button>
            </div>
        </div>
    </div>
</section>

<div class="backdrop is-hidden" data-modal-two>
    <div class="tt-modal">

        <button type="button" class="modal-close" data-modal-close-two>
            <svg class="close-modal-icon" width="24" height="24">
                <use href="./img/icons-sprite.svg#icon-cross-close-modal"></use>
            </svg>
        </button>

        <div class="tt-modal-title-wrap">
            <h1 class="tt-modal-title">
                ЗАБРОНЮВАТИ СТОЛИК
            </h1>
        </div>

        <form class="tt-modal-form">

            <div class="tt-input-wrap">
                <div class="tt-input-wrap-part">
                    <div class="tt-modal-input-field">
                        <input type="text" class="tt-modal-input" name="name" id="name" required placeholder="Ваше ім’я"
                            pattern="^[a-zA-Z]+\s[a-zA-Z]+$" title="Username must be two words separated by space.">
                        <label for="name" class="tt-input-label-title">
                            На кого забронювати столик?
                        </label>
                    </div>
                    <div class="tt-modal-input-field">
                        <input type="tel" class="tt-modal-input" name="tel" id="tel" required
                            placeholder="+38 (___) ___-__-__" pattern="[0-9]+" title="please enter number only">
                        <label for="tel" class="tt-input-label-title">
                            Номер телефону
                        </label>
                    </div>
                </div>

                <div class="tt-input-wrap-part">
                    <div class="tt-modal-input-field">
                        <select id="person" name="person" class="tt-modal-input">
                            <option value="2" class="value" selected>2</option>
                            <option value="3" class="value">3</option>
                            <option value="4" class="value">4</option>
                            <option value="5" class="value">5</option>
                        </select>
                        <label for="person" class="tt-input-label-title">
                            Столик на яку кількість осіб?
                        </label>
                    </div>
                    <div class="tt-modal-input-field">
                        <select id="tt-date" name="tt-date" class="tt-modal-input">
                            <option value="today" class="value" selected>
                                Сьогодні
                            </option>
                        </select>
                        <label for="tt-date" class="tt-input-label-title">
                            На яку дату бронювати?
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="tt-modal-button">
                ОФОРМИТИ БРОНЮВАННЯ
            </button>

        </form>
    </div>
</div>