<section class="roompage-hero-section">
  <div class="roompage-container">
    <h1 class="roompage-hero-title">ДВОМІСНИЙ НОМЕР люкс</h1>
    <p class="roompage-post-title">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <div class="roompage-hero-group">
      <a
        href="https://goo.gl/maps/1Gj1eipYqzHHkmQC6"
        target="_blank"
        class="roompage-location-link"
        ><svg class="roompage-location-icon" width="20" height="20">
          <use href="./img/icons-sprite.svg#icon-map-icon"></use>
        </svg>
        Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15
      </a>

      <div class="roompage-button-group">
        <button type="button" class="roompage-hero-button" data-price-open>
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
  <div class="room-arrow-buttons roompage-container">
    <div class="room-arrow-left">
      <button type="button" class="room-arrow-button">
        <svg class="room-arrow-icon" width="40" height="40">
          <use href="./img/icons-sprite.svg#icon-left-gold-arrow"></use>
        </svg>
      </button>
    </div>
    <div class="room-arrow-right">
      <button type="button" class="room-arrow-button">
        <svg class="room-arrow-icon" width="40" height="40">
          <use href="./img/icons-sprite.svg#icon-rigth-gold-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
