<section class="doublelux dl-container">
  <div class="dl-comfort ">
    <h2 class="dl-sec-heaher">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="dl-comfort-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
      sint. Velit officia consequat duis enim velit mollit. Exercitation
      veniam consequat sunt nostrud amet.
    </p>
    <div>
      <h3 class="dl-thirdheader">ЗАГАЛЬНІ</h3>
      <div class="dl-boxes">
        <p class="dl-maintext">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do
          amet sint. Velit officia consequat duis enim velit mollit.
          Exercitation veniam consequat sunt nostrud amet.
        </p>
        <p class="dl-maintext">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do
          amet sint. Velit officia consequat duis enim velit mollit.
          Exercitation veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <div class="dl-about">
      <h3 class="dl-thirdheader">ВАННА КІМНАТА</h3>
      <div class="dl-boxes">
        <p class="dl-maintext">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do
          amet sint. Velit officia consequat duis enim velit mollit.
          Exercitation veniam consequat sunt nostrud amet.
        </p>
        <p class="dl-maintext">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do
          amet sint. Velit officia consequat duis enim velit mollit.
          Exercitation veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <div class="dl-about">
      <h3 class="dl-thirdheader">СПАЛЬНЯ</h3>
      <div class="dl-boxes">
        <p class="dl-maintext">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do
          amet sint.
        </p>
      </div>
    </div>
    <div class="dl-about">
      <h3 class="dl-thirdheader">КУХНЯ</h3>
      <div class="dl-boxes">
        <p class="dl-maintext">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do
          amet sint.
        </p>
        <p class="dl-maintext">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do
          amet sint.
        </p>
      </div>
    </div>
    <div class="dl-about">
      <h3 class="dl-thirdheader">МЕДІА</h3>
      <div class="dl-boxes">
        <p class="dl-maintext">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do
          amet sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="dl-order-wrapper"> -->
    <button type="button" class="dl-roomorder-btn" data-room-open>
      ОФОРМИТИ БРОНЮВАННЯ
    </button>
    <a class="link dl-back-link" href="./hotel.html">Повернутися до перегляду номерів
      <svg class="last-link">
        <use href="./img/icons-sprite.svg#icon-arrow-disabled-rigth" class="arrow-disabled"></use>
      </svg>
    </a>
  <!-- </div> -->
</section>