<header class="room-site-header">
  <div class="room-header-container">
    <a href="./index.html" class="header-logo">MIMIHO</a>

    <ul class="room-nav-list">
      <li class="room-nav-item">
        <a href="./restaurant.html" class="room-nav-link">Ресторан</a
        ><a href="tel:0955559533" class="room-nav-contacts"
          ><svg class="room-nav-icon" width="24" height="24">
            <use href="./img/icons-sprite.svg#icon-phone-icon"></use>
          </svg>
          <span class="room-nav-tel">095 555 95 33</span></a
        >
      </li>
      <li class="room-nav-item">
        <a href="./hotel.html" class="room-nav-link">Готель</a
        ><a href="tel:0668491089" class="room-nav-contacts"
          ><svg class="room-nav-icon" width="24" height="24">
            <use href="./img/icons-sprite.svg#icon-phone-icon"></use>
          </svg>
          <span class="room-nav-tel">066 849 10 89</span></a
        >
      </li>
    </ul>

    <ul class="room-social-list">
      <li class="room-social-item">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="room-social-link"
        >
          <svg class="room-social-icon" width="24" height="24">
            <use href="./img/icons-sprite.svg#icon-instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="room-social-item">
        <a
          href="https://uk-ua.facebook.com/"
          target="_blank"
          class="room-social-link"
        >
          <svg class="room-social-icon" width="24" height="24">
            <use href="./img/icons-sprite.svg#icon-facebook-icon"></use>
          </svg>
        </a>
      </li>
      <li class="room-social-item">
        <a
          href="https://web.telegram.org/z/"
          target="_blank"
          class="room-social-link"
        >
          <svg class="room-social-icon" width="24" height="24">
            <use href="./img/icons-sprite.svg#icon-telegram-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
