
.homepage-section2 {
  width: 100vw;
  padding-top: 24px;
  padding-bottom: 40px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../img/section2-img/mobile-section2-bgimage.jpg);
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;

  overflow-x: hidden;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .homepage-section2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../img/section2-img/mobile-section2-bgimage@2x.jpg);
  }
}

.container-section2 {
  position: relative;
  width: 414px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section2-logo {
  width: 127px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;

  font-family: 'Film P3';
  font-size: 40px;
  line-height: 1.075;

  letter-spacing: 0.3em;

  color: #ffffff;
}

.section2-post-title {
  width: 127px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.section2-description {
  width: 259px;
  margin-left: auto;
  margin-bottom: 48px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: #bababa;
}

.section2-wrap {
  position: relative;

  display: flex;
  flex-direction: column-reverse;
}

.section2-btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 350px;
}

.homepage-section2-btn {
  display: inline-block;
  min-width: 234px;
  padding: 14px 24px;

  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  border: 2px solid #ffffff;
  border-radius: 25px;

  color: #f3c653;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1),
    border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.homepage-section2-btn:hover,
.homepage-section2-btn:focus,
.homepage-section2-btn:active {
  background: #ffffff;
  border: 2px solid #f3c653;
}

.section2-img-list {
  position: absolute;
  top: 0;
  left: 25px;
  display: flex;
  gap: 19px;
}

.section2-img-item {
  width: 270px;
  height: 270px;
}

.section2-img-item.center {
  width: 162px;
}

.section2-img-item {
  height: 270px;
}

/* 
.section2-foto1 {
}

.section2-foto2 {
}

.section2-foto3 {
} */
.section2-arrows-group {
  position: absolute;
  top: 497px;
  left: 40px;

  display: flex;
  gap: 32px;
}

.slider-section2-btn {
  width: 32px;
  height: 32px;
  padding: 0;

  background-color: transparent;
  border: none;
}

.section2-arrow-icon {
  fill: #ffffff;
}

@media screen and (max-width: 413px) {
  .container-section2 {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .container-section2 {
    width: 960px;
  }

  .homepage-section2 {
    padding-top: 48px;
    padding-bottom: 96px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../img/section2-img/tablet-section2-bgimage.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .homepage-section2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../img/section2-img/tablet-section2-bgimage@2x.jpg);
    }
  }


  .section2-logo {
    position: relative;
    left: 216px;
    width: 202px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 16px;

    font-size: 64px;
    line-height: 1.08;
  }

  .section2-post-title {
    position: relative;
    left: 216px;
    width: 202px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 8px;

    font-size: 24px;
    line-height: 1.21;
  }

  .section2-description {
    position: relative;
    width: 610px;
    left: 216px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 1.25;
  }

  .section2-wrap {
    flex-direction: row;
    align-items: center;
  }

  .section2-img-list {
    top: 0;
    left: 257px;

    gap: 24px;
  }

  img.section2-foto1,
  img.section2-foto2,
  img.section2-foto3 {
    height: 270px;
  }

  img.section2-foto3 {
    width: 162px;
    height: 270px;
  }

  .section2-btn-group {
    position: relative;
    padding-top: 150px;
  }

  .section2-arrows-group {
    left: 310px;
  }
}

@media screen and (min-width: 1280px) {
  .container-section2 {
    width: 1140px;
  }

  .homepage-section2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../img/section2-img/descktop-section2-bgimage.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .homepage-section2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../img/section2-img/descktop-section2-bgimage@2x.jpg);
    }
  }

  .section2-logo {
    left: 253px;

    font-size: 64px;
    line-height: 1.08;
  }

  .section2-post-title {
    left: 253px;

    font-size: 24px;
    line-height: 1.2;
  }

  .section2-description {
    left: 253px;
  }

  .section2-img-list {
    gap: 86px;
    left: 268px;
  }

  img.section2-foto3 {
    width: 270px;
    height: 270px;
  }
}